.Container {
  margin: 16px;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Form {
  display: flex;
  flex-direction: column;
}

.FormField {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.FormFieldTitle {
  margin-right: 10px;
  font-family: Verdana;
}

.Button {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
}

.SuccessPanelText {
  font-family: Verdana;
  font-size: 20px;
  margin-bottom: 6px;
  color: green;
}
