.Container {
  margin: 16px;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Form {
  display: flex;
  flex-direction: column;
}

.FormField {
  display: flex;
  align-items: center;
  margin: 16px 0;
}

.FormFieldTitle {
  margin-right: 16px;
  font-family: Verdana;
}

.Button {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
}
